/****
  Autor: @Geisimara Carolina Paulo
  Criação: @MyAgenda
  font-family: 'Bona Nova', serif;

***/

/****

  font-family: 'Bona Nova', serif;
  font-family: 'Ubuntu', sans-serif;

***/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:bottom;
    overflow: hidden;
}


.section_index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box{
    width: 70%;
    height: 90vh;
    background-color: blanchedalmond;
    border-radius: 20px;   
}

.box .row .col-sm-3{
    background-color:white; 
    height: 90vh;
    border-radius: 20px;
}

.painel1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.painel1 .icon-usuario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 30px;
}

.painel1 .icon-usuario i{
    font-size: 35px;
    margin-bottom: 10px;
}

.painel1 .icon-usuario p{
    font-size: 16px;
}

.col-sm-6{
    display: flex;
    flex-wrap: wrap;
}